@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<ul>
    <li><h4>About us</h4></li>
    <p>
        Gemini Cheerleaders began in January 1996 and has been growing stronger season by season. We started in 1994 with a senior team for Coventry Crusaders, added Coventry City in 1995 and performed at sporting events all over the country.
        We were the first cheerleaders in Coventry and indeed the surrounding area for a long way and a long while. We added Coventry Speedway, Coventry Blaze Ice Hockey, American Football and Event Promotions to our list of activities and as the team’s success grew everyone wanted to be part of it all and then…
        Gemini was born.
    </p>
    <li><h4>Our History</h4></li>
    <p>
        Created and shaping its own future the Gemini cheerleaders helped to spearhead cheerleading throughout the UK and have taken it as far as the European and World community through hard work, team spirit, family values and a vision. Extremely intertwined with the UK Cheerleading Association which was originally formed by myself, we have achieved so much and today stand strong.
        Our team has finally gained our own gym in which to train as we enter into our 20th season. With the addition of our very own, first, full competition floor, our future looks amazing.
        We welcome all ages/gender and abilities and love seeing new faces.
        Come and be a part of the family!
        20 years strong and counting…
    </p>
    <li><h4>Our Teachers</h4></li>
    <li><h4>Our Awards</h4></li>
    <li><h4>Want to join us</h4></li>
</ul>

