@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<ul>
    <li><h4>About us</h4></li>
    <li><h4>Our History</h4></li>
    <li><h4>Our Teachers</h4></li>
    <li><h4>Our Awards</h4></li>
    <li><h4>Want to join us</h4></li>
</ul>